{
	"env": {
		"development": {
			"presets": ["next/babel"],
			"plugins": [["styled-components", { "ssr": true }]]
		},
		"production": {
			"presets": ["next/babel"],
			"plugins": [["styled-components", { "ssr": true }]]
		},
		"test": {
			"presets": [["next/babel"]],
			"plugins": [["styled-components", { "ssr": true }]]
		}
	}
}